{% extends('base.html.twig')  %}


{% block body %}

            <div class="row">
                <div class="col-lg-9 main-chart">
                    <h1>STATISTIQUES</h1>
                    <div class="row mtbox">

                        <div class="col-lg-4 col-md-4 col-sm-4 mb">
                            <div class="twitter-panel pn">
                                <i class="fa fa-users fa-4x"></i>
                                <p>le nombre d'étudiants </p>
                                <p class="user">80</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 mb">
                            <div class="twitter-panel pn">
                                <i class="fa fa-users fa-4x"></i>
                                <p>le nombre de diplomés  </p>
                                <p class="user">80</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 mb">
                            <div class="twitter-panel pn">
                                <i class="fa fa-list fa-4x"></i>
                                <p>le nombre des offres de stage</p>
                                <p class="user">80</p>
                            </div>
                        </div>







                    </div><!-- /row mt -->
                </div><!-- /col-lg-9 END SECTION MIDDLE -->


                <!-- **********************************************************************************************************************************************************
                RIGHT SIDEBAR CONTENT
                *********************************************************************************************************************************************************** -->

                <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                    <h3>les diplomés</h3>

                    <!-- First Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DIVYA MANIAN</a><br/>
                                <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Second Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DJ SHERMAN</a><br/>
                                <muted>I am Busy</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Third Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DAN ROGERS</a><br/>
                                <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fourth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Zac Sniders</a><br/>
                                <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fifth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Marcel Newman</a><br/>
                                <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Marcel Newman</a><br/>
                                <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                </div><!-- /col-lg-3 -->
            </div><! --/row -->
        </section>
        </section>

{% endblock %}

