{% extends('base.html.twig')  %}
{% block body %}
    <h3><i class="fa fa-angle-right">Liste des offres de stage</i></h3>

        <div class="weather-2 pn">
            <div class="weather-2-header">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <p> <img src="assets/img/ny.jpg" class="img-circle" width="40">
                            Nom diplomé</p>
                    </div>
                </div>
            </div><!-- /weather-2 header -->

            <div class="row data">
                <div class="col-sm-6 col-xs-6 goleft">
                    <h4><b>Poste:</b></h4>
                    <h6>Description</h6>
                    <h6>date :</h6>
                    <h6>Société:</h6>
                </div>

            </div>
        </div>

    <div class="weather-2 pn">
        <div class="weather-2-header">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p> <img src="assets/img/ny.jpg" class="img-circle" width="40">
                        Nom diplomé</p>
                </div>
            </div>
        </div><!-- /weather-2 header -->

        <div class="row data">
            <div class="col-sm-6 col-xs-6 goleft">
                <h4><b>Poste:</b></h4>
                <h6>Description</h6>
                <h6>date :</h6>
                <h6>Société:</h6>
            </div>

        </div>
    </div>

{% endblock %}
